@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", sans-serif;
  --color-surface: #121414;
  --color-surface-container: #1e2020;
  --color-surface-container-high: #292a2a;
  --color-on-surface: #e3e2e2;
  --color-on-surface-variant: #c4c7c8;
  --color-primary: #ffffff;
  --color-on-primary: #2f3131;
  --color-outline-variant: #444748;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
}
